In [7]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

## Importação dos dados

In [8]:
path1 = 'train.csv'
df1 = pd.read_csv(path1)
path2 = 'test.csv'
df2 = pd.read_csv(path2)
path3 = 'sample_submission.csv'
sales_test = pd.read_csv(path3)
dfteste = df2.copy()
df2.insert(df1.columns.shape[0]-1, "SalePrice", sales_test['SalePrice'])
# Concatenar os dataframes
df3 = pd.concat([df1,df2])

In [3]:
df3.to_csv('Base mesclada.csv')

In [9]:
df3.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [11]:
df3[['FullBath']]

      FullBath
0            2
1            2
2            2
3            1
4            2
...        ...
1454         1
1455         1
1456         1
1457         1
1458         2

[2919 rows x 1 columns]

In [12]:
colunas_escolhidas = ['SalePrice','MSZoning','HeatingQC','BedroomAbvGr','GarageArea','YrSold','YearBuilt','LotArea','FullBath']
df4 = df3[colunas_escolhidas]
df4['YrSold - YearBuilt'] = df4.loc[:,'YrSold'] - df4.loc[:,'YearBuilt']

<ipython-input-12-3f37d9496ae0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['YrSold - YearBuilt'] = df4.loc[:,'YrSold'] - df4.loc[:,'YearBuilt']

In [13]:
df4.to_csv('Base mesclada filtrada.csv')

In [14]:
df4.head()

,SalePrice,MSZoning,HeatingQC,BedroomAbvGr,GarageArea,YrSold,YearBuilt,LotArea,FullBath,YrSold - YearBuilt
0,208500.0,RL,Ex,3,548.0,2008,2003,8450,2,5
1,181500.0,RL,Ex,3,460.0,2007,1976,9600,2,31
2,223500.0,RL,Ex,3,608.0,2008,2001,11250,2,7
3,140000.0,RL,Gd,3,642.0,2006,1915,9550,1,91
4,250000.0,RL,Ex,4,836.0,2008,2000,14260,2,8

In [74]:
df4.shape

(2919, 8)