In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

## Importação dos dados

In [30]:
path1 = 'train.csv'
df1 = pd.read_csv(path1)
path2 = 'test.csv'
df2 = pd.read_csv(path2)
path3 = 'sample_submission.csv'
sales_test = pd.read_csv(path3)
dfteste = df2.copy()
df2.insert(df1.columns.shape[0]-1, "SalePrice", sales_test['SalePrice'])
# Concatenar os dataframes
df3 = pd.concat([df1,df2])

In [38]:
df3.to_csv('Base mesclada.csv')

In [64]:
colunas_escolhidas = ['SalePrice','MSZoning','HeatingQC','BedroomAbvGr','GarageArea','YrSold','YearBuilt']
df4 = df3[colunas_escolhidas]
df4['YrSold - YearBuilt'] = df4.loc[:,'YrSold'] - df4.loc[:,'YearBuilt']

<ipython-input-64-676d2eda5d45>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['YrSold - YearBuilt'] = df4.loc[:,'YrSold'] - df4.loc[:,'YearBuilt']

In [72]:
df4.to_csv('Base mesclada filtrada.csv')

In [73]:
df4.head()

,SalePrice,MSZoning,HeatingQC,BedroomAbvGr,GarageArea,YrSold,YearBuilt,YrSold - YearBuilt
0,208500.0,RL,Ex,3,548.0,2008,2003,5
1,181500.0,RL,Ex,3,460.0,2007,1976,31
2,223500.0,RL,Ex,3,608.0,2008,2001,7
3,140000.0,RL,Gd,3,642.0,2006,1915,91
4,250000.0,RL,Ex,4,836.0,2008,2000,8

In [74]:
df4.shape

(2919, 8)